<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Không thành công</title>
    <style>
        .trai{
            text-align: center;
            color: royalblue;
        }
    </style>
</head>
<body>
    <h1 class="trai">Thông tin nhập vào không đúng định dạng hoặc tên đăng nhập đã tồn tại</h1>
    <h1 class="trai">Bấm <a href="dangky">TRỞ LẠI</a> để đăng ký<br></h1>
    <h1 class="trai">Đăng nhập lại nếu đã có tài khoản: <a href="dangnhap">ĐĂNG NHẬP</a><br></h1>
</body>
</html>