<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Long's page</title>
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <style>
        .trai{
            text-align: center;
            color: rgb(212, 65, 225);
            font-family: 'Arial Narrow Bold', sans-serif;
        }
    </style>
</head>
<body>
    <h1 class="trai">CHÀO MỪNG BẠN ĐẾN VỚI TRANG WEB</h1>
    <h1 class="trai"><a href="dangky">ĐĂNG KÝ</a><br></h1>
    <h1 class="trai"><a href="dangnhap">ĐĂNG NHẬP</a><br></h1>
</body>
</html>